*{
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei ;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:inherit;
}
.header{
    width: 1263px;
    height: 100px;
    margin: 0 auto;
}
.header .left{
    width: 100px;
    height: 24px;
    margin-top: 38px;
    margin-left: 65px;
    float: left;
}
.header .left span:first-child{
    font-size: 24px;
    color: #777;
}
.header .left span:nth-child(2){
    font-size: 24px;
    color: #00567a;
}
.header .right{
    width: 650px;
    height: 40px;
    float: right;
    margin-top: 30px;
    margin-right: 90px;
}
.header .right li{
    float: left;
    height: 40px;
    color: #999;
    line-height: 40px;
    text-align: center;
    width: 69px;
    font-size: 14px;
}
.header .right li:nth-child(5){
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(2){
    margin-left: 2px;
}
.header .right li:nth-child(2):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(3){
    margin-left: 7px;
}
.header .right li:nth-child(3):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(4){
    margin-left: 2px;
    width: 90px;
}
.header .right li:nth-child(4):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(5){
    margin-left: 15px;
    width: 94px;
}
.header .right li:nth-child(1):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(6){
    margin-left: 2px;
    margin-right: 1px;
}
.header .right li:nth-child(6):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(7){
    width: 62px;
}
.header .right li:nth-child(7):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(8){
    width: 76px;
    margin-left: 2px;
}
.header .right li:nth-child(8):hover{
    background: #00567a;
    border-radius: 4px;
    color: #fff;
}
.header .right li:nth-child(9){
    width: 20px;
    height: 36px;
    line-height: 50px;
}
.footer{
    width: 100%;
    height: 312px;
    margin: 0 auto;
    border: 1px solid #475268;
    background: #475268;
}
.footer .footermain{
    width: 1263px;
    height: 250px;
    margin: 0 auto;
    margin-top: 55px;
}
.footer .left{
    float: left;
    margin-left: 60px;
    color: #fff;
}
.footer .left li{
    font-size: 12px;
    line-height: 36px;
}
.footer .left li:first-child{
    font-size: 14px;
    line-height: 43px;
}
.footer .left li:last-child span:last-child{
    color: #00567a;
}
.footer .center{
    float: left;
    margin-left: 120px;
    color: #fff;
}
.footer .center li{
    font-size: 12px;
    line-height: 36px;
}
.footer .center li:nth-child(2){
    float: left;
}
.footer .center li:nth-child(3){
    float: left;
    margin-left: 60px;
}
.footer .right{
    width: 280px;
    height: 150px;
    float: right;
    margin-right: 94px;
}
.footer .right p{
    font-size: 14px;
    color: #fff;
}
.footer .right ul{
    margin-top: 10px;
}
.footer .right li{
    width: 50px;
    height: 50px;
    background: #505b71;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.footer .right li:hover{
    background: #00567a;
}
.footer .right li img{
    display: block;
    margin: 0 auto;
    margin-top: 30%;
}
.main .portfolio{
    width: 100%;
    height: 125px;
    background: #475268;
}
.main .portfolio .center{
    width: 1135px;
    margin:  0 auto;
}
.main .portfolio .left{
    float: left;
    color: #fff;
    line-height: 125px;
    font-size: 18px;
}
.main .portfolio .right{
    float: right;
    color: #fff;
    line-height: 125px;
    font-size: 12px;
}
.main .portfolio .right span:nth-child(1){
    color: #f45f5b;
}
.main .portfolio .right span:nth-child(2){
    color: #f45f5b;
}
.main .ulone{
    width: 1200px;
    height: 40px;
    margin:  0 auto;
    margin-top: 45px;
}
.main .ulone li{
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: 10px;
    background: #e2e0e1;
    border-radius: 5px;
    color: #797979;
    font-size: 12px;
}
.main .ulone li:hover{
    color: #fff;
    background: #00567a;
}
.main .ultwo{
    width: 1200px;
    height: 850px;
    margin:0 auto;
    margin-top: 45px;
}
.main .ultwo li{
    width: 262px;
    height: 230px;
    float: left;
    margin-right: 23px;
    margin-bottom: 23px;
}

































